# Backend API URL
# Production Render backend:
NEXT_PUBLIC_API_URL=https://careerforge-x6ko.onrender.com/api
# Local backend:
# NEXT_PUBLIC_API_URL=http://localhost:5000/api

# Frontend URL
NEXT_PUBLIC_FRONTEND_URL=https://careerforgecareer.vercel.app
# NEXT_PUBLIC_FRONTEND_URL=http://localhost:3000
